<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .button a{
            text-decoration: none;
        }
        .button {
            display: flex;
            float: right; 
            margin: 10px 10px 0 0;
        }
    </style>
</head>
<body>
    <!-- <button class="button"><a href="{% url 'logout' %}">Logout</a></button> -->
    <div class="parent">
        <div class="form">
            <h1>Report a complaint</h1>
            <form id="fs-frm" method="post">
                {% csrf_token %}
                <label for="fname" style="width: 130px;
                display: inline-block;">Full Name</label>
                <input type="text" name="name" id="full-name" placeholder="First and Last" required=""><br>
                <label for="email-address" style="width: 130px;
                display: inline-block;">Email Address</label>
                <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld"><br>
                <label for="telephone" style="width: 130px;
                display: inline-block;">Telephone Number (Optional)</label>
                <input type="telephone" name="telephone" id="telephone" placeholder="(555) 555-5555"><br>
                <label for="complaint" style="width: 130px;
                display: inline-block;">Complaint</label>
                <textarea rows="6" name="complaint" id="complaint" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required=""></textarea>
                <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission"><br>
                <input type="submit" value="File Complaint">
                <button class="button"><a href="{% url 'test' %}">Back</a></button>
            </form>
            
        </div>
    </div>
</body>
</html>